/*General Styling*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: silver;
    margin: 0;
    padding: 150px;
}

h1 {
    font-size: 35px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

.resume-container {
    display: flex;
    background-color: rgb(217, 206, 206);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid silver;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px #015cb8;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Left Section Styling */
.Left-Section {
    background-color: #0152b6;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #025db8;
}
ul {
    list-style-type: square;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(48, 31, 31);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #ff737a;
}

